MEDIA_DISK=s3
MEDIA_SIGNED_URLS=true
MEDIA_URL_TTL=120

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-2
AWS_BUCKET=enclaii-prod-media
AWS_USE_PATH_STYLE_ENDPOINT=false

DOWNLOADS_AWS_BUCKET=enclaii-prod-downloads
DOWNLOADS_URL_TTL=10
DESKTOP_APP_VERSION=0.1.8
DESKTOP_APP_ARCHITECTURE="64 bits"
DESKTOP_APP_SIZE="18.5 MB"
DESKTOP_APP_INSTALLER_PATH=windows/releases/0.1.8/ENCLAII_0.1.8_x64_es-ES.msi
DESKTOP_APP_DOWNLOAD_NAME=ENCLAII_0.1.8_x64_es-ES.msi
